*{
	font-family: arial;
	font-size: 14px;
	outline: none;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

.mod-left{ float: left; }
.mod-right{ float: right; }
.mod, .mod-complement{ display: block; overflow: hidden; }

.mod-2, .mod-3, .mod-4, .mod-5, .mod-6, .mod-7{
	display: inline-block;
    margin: -2px;
    vertical-align: top;
}
.mod-2{ width: 50%; }
.mod-3{ width: 33.33333333333%; }
.mod-4{ width: 25%; }
.mod-5{ width: 20%; }
.mod-6{ width: 16.66666666667%; }
.mod-7{ width: 14.28571428571%; }



.hide{
	display: none;
}




/*Loading css*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 12px;
}
.lds-ellipsis div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #9c9c9c;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}




.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}