body{
	/*background-color: #fafafa;*/
    /*background-image: url(http://www.escueladebellezaditalo.com/wp-content/uploads/pattern-web-ransparent.png);*/
    background-size: 180px;
}
header, footer{
	display: block;
	overflow: hidden;
}


#search{
    width: 600px;
    margin: 35px auto;
    margin-bottom: 15px;
}
#search .logo,
#search .title{
	display: block;
	/*text-align: center;*/
}
#search .logo{
    /*display: none;*/
    /*background: url(../image/searchape-sad.png) no-repeat 50%;*/
    width: 130px;
    height: 130px;
    background-size: 100%;
    margin: 0 auto;
}
#search .logo svg{
    width: 130px;
    height: 130px;
}
#search .title, 
#search .title i{
    font-size: 40px;
    color: #e2ad63;
    text-align: center;
}
#search .title i{
	color: #e45828;
	font-style: normal;
}
#search center{
	font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 20px 0px;
    color: #999;
}
#search form{
    /*overflow: hidden;*/
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    border-radius: 3px;
}
#search p{
	color: #444444;
}
#search p a{
    color: #0054b9;
}
#search nav{
	text-align: center;
    padding-bottom: 20px;
}
#search nav a{
	color: #444;
    padding: 5px 10px;
    display: inline-block;
    transition: all 0.5s;
	border-bottom: 2px solid transparent;
}
#search nav a:hover{
    border-bottom: 2px solid #ebebeb;
}
#search nav .active{
	border-bottom: 2px solid #fdd193;
}
#search form button{
    border: 0;
    background: #2379ce;
    height: 45px;
    width: 65px;
}
#search form button i{
	font-size: 18px;
    color: #fff;
}
#search form .input{

}
#search form .input input{
    display: block;
    width: 100%;
    border: 0px;
    height: 45px;
    padding: 0 12px;
    font-size: 16px;
}

header{
	color: #909090;
    padding: 10px 10px;
}
header .sqw{
	display: block;
	padding: 8px 6px;
	transition: all 0.5s;
	cursor: pointer;
}
header .sqw:hover{
	color: #c00;
}
header .sqw i{
    font-size: 15px;
}
header .session{
	background: #fede33;
    color: #000;
    padding: 8px 15px;
    border-radius: 30px;
    margin-left: 15px;
}
header .menu{
	background: #00000026;
    color: #212121;
    border-radius: 3px;
}
header .sqw span{
	display: inline-block;
    vertical-align: top;
    line-height: 16px;
    font-size: 13px;
}
header .sqw .idown{
    line-height: 19px;
}
header .sqwb{

}


footer{
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
}
footer nav{
	text-align: center;
}
footer nav a{
	display: inline-block;
	color: #8a8a8a;
    padding: 25px 12px;
	font-size: 13px;
	transition: all 0.5s;
}
footer nav a:hover{
	color: #555;
}

#comentaries{
    position: fixed;
    border: 1px solid #e0e0e0;
    background-image: linear-gradient(white, #efefef);
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    padding: 8px 9px;
    left: 50%;
    bottom: 68px;
    border-radius: 3px;
    margin-left: -59px;
}


#visited{
	display: block;
    width: 600px;
	margin: 0 auto;
}
#visited .webpage{
	padding: 10px 0;
}

#visited .webpage .cart{
    /*background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);*/
    border-radius: 3px;
    overflow: hidden;
}
#visited .webpage .cart .thumbnail{
	text-align: center;
}
#visited .webpage .cart .thumbnail i{
	font-size: 35px;
    color: #d4d4d4;
    transition: all 0.5s;
}
#visited .webpage .cart .thumbnail:hover i{
	color: #999;
}
#visited .webpage .cart .domain{
	text-align: center;
    color: #d4d4d4;
    display: none;
}



#searchInput{
    position: relative;
    margin-top: 20px;
}
#searchInput .suggest{
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    background: #fffffff5;
    border: 1px solid #dadada;
    /*margin-left: -1px;*/
    max-height: 232.2px;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
}
#searchInput .suggest .sug:hover{
    background: #f1f1f1;
}
#searchInput .suggest .sug{
    padding: 6px 10px;
    /*font-size: 16px;*/
    color: #3d3d3d;
}
#searchInput .suggest .sug.active{
    background: #f1f1f1;
}
#searchInput .suggest .sug b{
    color: #9e9e9e;
}