@font-face {
  font-family: 'searchape';
  src: url('../font/searchape.eot?11253302');
  src: url('../font/searchape.eot?11253302#iefix') format('embedded-opentype'),
       url('../font/searchape.woff2?11253302') format('woff2'),
       url('../font/searchape.woff?11253302') format('woff'),
       url('../font/searchape.ttf?11253302') format('truetype'),
       url('../font/searchape.svg?11253302#searchape') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'searchape';
    src: url('../font/searchape.svg?11253302#searchape') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "searchape";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-download-alt:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cancel-1:before { content: '\e805'; } /* '' */
.icon-search-1:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-menu-1:before { content: '\e809'; } /* '' */
.icon-menu-2:before { content: '\e80a'; } /* '' */
.icon-globe:before { content: '\e80b'; } /* '' */
.icon-pencil-alt:before { content: '\e80c'; } /* '' */
.icon-pencil-alt-1:before { content: '\e80d'; } /* '' */
.icon-cloud:before { content: '\e80e'; } /* '' */
.icon-cloud-flash:before { content: '\e80f'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e810'; } /* '' */
.icon-drizzle:before { content: '\e811'; } /* '' */
.icon-rain:before { content: '\e812'; } /* '' */
.icon-windy:before { content: '\e813'; } /* '' */
.icon-temperature:before { content: '\e814'; } /* '' */
.icon-compass:before { content: '\e815'; } /* '' */
.icon-na:before { content: '\e816'; } /* '' */
.icon-celcius:before { content: '\e817'; } /* '' */
.icon-fahrenheit:before { content: '\e818'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e819'; } /* '' */
.icon-sun-inv:before { content: '\e81a'; } /* '' */
.icon-moon-inv:before { content: '\e81b'; } /* '' */
.icon-cloud-moon:before { content: '\e81c'; } /* '' */
.icon-cloud-sun:before { content: '\e81d'; } /* '' */
.icon-clouds-flash:before { content: '\e81e'; } /* '' */
.icon-clouds:before { content: '\e81f'; } /* '' */
.icon-hail:before { content: '\e820'; } /* '' */
.icon-snow-heavy:before { content: '\e821'; } /* '' */
.icon-snow-alt:before { content: '\e822'; } /* '' */
.icon-snow:before { content: '\e823'; } /* '' */
.icon-windy-rain:before { content: '\e824'; } /* '' */
.icon-sun:before { content: '\e825'; } /* '' */
.icon-moon:before { content: '\e826'; } /* '' */
.icon-eclipse:before { content: '\e827'; } /* '' */
.icon-wind:before { content: '\e828'; } /* '' */
.icon-snowflake:before { content: '\e829'; } /* '' */
.icon-mist:before { content: '\e82a'; } /* '' */
.icon-lock:before { content: '\e82b'; } /* '' */
.icon-lock-1:before { content: '\e82c'; } /* '' */
.icon-down-open-mini:before { content: '\e82d'; } /* '' */
.icon-right-open-mini:before { content: '\e82e'; } /* '' */
.icon-plus-circled:before { content: '\e82f'; } /* '' */
.icon-plus-circled-1:before { content: '\e830'; } /* '' */
.icon-right-open:before { content: '\e831'; } /* '' */
.icon-wikipedia:before { content: '\e832'; } /* '' */
.icon-menu-3:before { content: '\f008'; } /* '' */
.icon-pause:before { content: '\f00e'; } /* '' */
.icon-play:before { content: '\f00f'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-lock-2:before { content: '\f512'; } /* '' */