header{
    width: 100%;
    position: fixed;
    /*background-image: url(http://www.escueladebellezaditalo.com/wp-content/uploads/pattern-web-ransparent.png);*/
    background-size: 180px;
    left: 0px;
    z-index: 9;
    top: 0px;
}
header .main{
    /*background-color: #f5f5f5;*/
    background-color: #ffffff;
    padding: 12px;
    padding-bottom: 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ebebeb;
    height: 70px;
}
header .logo{
    /*background: url(../image/searchape-sad.png) no-repeat 50%;*/
    width: 45px;
    height: 45px;
    background-size: 100%;
    margin: 0 auto;
}
header .title, header .title b{
    font-size: 20px;
    line-height: 45px;
    font-weight: bold;
    color: #444;
    height: 45px;
    padding: 3px 5px;
}
header .title span,
header .title b{
    display: block;
    text-align: center;
}
header .title span{
    line-height: 13px;
    font-size: 10px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color: #d49d4f;
}
header .title b {
    color: #e45828;
    font-size: 30px;
    line-height: 23px;
}
main{
	margin-top: 106px;
}
#search{
	width: 600px;
    margin-left: 15px;
}
#search form{
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    border-radius: 3px;
    padding-bottom: 1px;
}
#search form button{
    border: 0;
    background: #2379ce;
    height: 45px;
    width: 60px;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#search form button i{
	font-size: 18px;
    color: #fff;
}
#search form .input{
    margin-bottom: -1px;
    border-radius: 20px;
}
#search form .input input{
    display: block;
    width: 100%;
    border: 0px;
    height: 45px;
    padding: 0 12px;
    font-size: 16px;
}
header nav{
    padding-top: 2px;
    margin: 0px -11px;
    background: #ffffffdb;
    padding-left: 165px;
    border-bottom: 1px solid #0000000d;
    height: 36px;
}
header nav a{
    color: #5f5f5f;
    padding: 9px 10px;
    display: inline-block;
    transition: all 0.5s;
    border-bottom: 2px solid transparent;
    font-weight: bolder;
    font-size: 13px;
    margin-right: -4px;
    height: 34px;
}
header nav a:hover{

    color: #949494;
    border-bottom: 2px solid #ebebeb;
}
header nav .active,
header nav .active:hover{
    color: #2379ce;
    font-weight: bolder;
    border-bottom: 2px solid #2379ce;
}
#results, #widgets{
	margin-bottom: 25px;
}
#results{
    width: 600px;
    margin-left: 154px;
    margin-right: 40px;
    padding-top: 10px;
}
#results .did-mean{
    margin-top: 15px;
    color: #5e5e5e;
    overflow: hidden;
}
#results .did-mean i{
	font-size: 28px;
    color: #cccccc;
    margin-right: 10px;
}
#results .did-mean h2{
	font-size: 16px;
}
#results .did-mean h2, #results .did-mean h3{
	margin: 0;
	font-weight: normal
}
#results .data{

}
#results .data .author,
#results .data .views{
    font-size: 12px;
    float: left;
    width: 50%;
}
#results .data .author{
    color: #6d6d6d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#results .data .views{
    text-align: right;
    color: #070;
}
#results .data .title{
    margin-top: 5px;
    color: #3a3a3a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#results .data .asr{
	display: inline-block;
    padding: 15px 0px;
    margin-right: 23px;
    font-size: 13px;
    color: #999;
    padding-bottom: 0px;
}
#results .result{
    margin-top: 5px;
    padding: 10px;
    transition: all 0.5s;
    overflow: hidden;
}
#results .result .thumbnail{
    width: 150px;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
    border-radius: 3px;
}
#results .result .thumbnail img{
    margin: -18px 0px;
    width: 100%;
    float: left;
}
#results .result .mod-complement .bread{
    padding-top: 0;
}
#results .result:hover{
    background: #f9f9f9;
    border-radius: 5px;
}
#results .result .videos{
    overflow: hidden;
    margin: 0px -5px;
}
#results .result .video{
    float: left;
    vertical-align: top;
    width: 33.3333333%;
    padding: 5px;
}
#results .result .video .thumbnail{
    width: 100%;
    margin-bottom: 10px;
}
#results .result .video{

}
#results .result .video{

}
#results .result h2{
    margin: 0px;
    padding-bottom: 2px;
}
#results .result h2 a,
#results .result h2 a span{
    font-size: 18px;
    font-weight: normal;
    color: #1d5394;
}

#results .result h2 a b,
#results .result h2 a span b{
	font-size: 18px;
}
#results .result p{
	margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}
#results .result p,#results .result p b{
    color: #5e5e5e;
}
#results .result h2,
#results .result .bread{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
#results .result .bread{
    padding-top: 5px;
    width: 70%;
}
#results .result .bread a{
    color: #070;
}
#results .result .bread a span{

}
#results .result .bread img{    
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: top;
    margin-right: 5px;
}
#results .result .bread .active{
	font-weight: bolder;
}
#results .result .item{

}

#results .result-video .thumbnail{
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	width: 125px;
    margin-right: 10px;
}
#results .result-video .thumbnail img{
	float: left;
	width: 100%;
	height: 100%;
    margin: -12px 0;
}
#results .result-video .thumbnail .play{
	position: absolute;
    left: 50%;
    top: 50%;
    width: 45px;
    height: 45px;
    background: #f7ff0096;
    text-align: center;
    line-height: 45px;
    margin-left: -21px;
    margin-top: -21px;
    border-radius: 100%;
    transition: all 0.5s;
}
#results .result-video:hover .thumbnail .play{

    background: #f7ff00bd;
}
#results .result-video .thumbnail .play i{

}
#results .result-video .data{
	height: 70px;
}
#results .result-video .data button{
    border: 0px;
    background: #5d5d5d;
    padding: 7px 9px;
    border-radius: 3px;
    color: #fff;
    font-weight: bolder;
}



#results .result .mod {
    padding-left: 20px;
}
#results .paginator{
    text-align: center;
    padding: 15px 0px;
    background: #fafafa;
    color: #4a4a4a;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 25px;
}
#results .adv-more{
    position: relative;
    margin-bottom: 25px;
}
#results .adv-more .line{
    width: 100%;
    height: 1px;
    /*border-bottom: 1px solid #dadada;*/
    background: #ededec;
    margin-top: 25px;
}
#results .adv-more .num{
    position: absolute;
    font-weight: bolder;
    width: 35px;
    color: #808080;
    line-height: 32px;
    height: 35px;
    text-align: center;
    border-radius: 100%;
    margin-top: -19px;
    margin-left: -44px;
    border: 2px solid #ededec;
}
/*#results .paginator{
	text-align: center;
    padding: 15px 0px;
}
#results .paginator a{
	display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    color: #444;
    border-radius: 100%;
}
#results .paginator a.active{
    background: #fede338f;
}*/
#widgets{
	padding-right: 100px;
}
#widgets .related-searches{
    display: none;
    overflow: hidden;
    width: 100%;
    /*padding: 0px 20px;*/
    margin-top: 15px;
}
#widgets .related-searches h2{
    font-size: 15px;
    margin: 0;
    font-weight: normal;
}
#widgets .related-searches ul{
    padding: 0;
    margin-top: 5px;
}
#widgets .related-searches ul li{
    padding: 2px 0px;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#widgets .related-searches ul li a,
#widgets .related-searches ul li a b{
    font-size: 16px;
    color: #1d5394;
}



#widgets{
    width: 452px;
    padding: 5px;
    padding-top: 20px;
}
#widgets .other{
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ededec;
    padding: 10px 0px;
}
#widgets .other .back{
    left: 0;
}
#widgets .other .next{
    right: 0;
}
#widgets .other .back,
#widgets .other .next{
    position: absolute;
    background: #ffffffc9;
    font-size: 16px;
    width: 40px;
    text-align: center;
    padding: 5px 0px;
    top: 58px;
}
#widgets .other .back i,
#widgets .other .next i{
    font-size: 25px;
}
#widgets .other h3{
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 0px 20px;
    margin-top: 0px;
}
#widgets .other .items{
    overflow: hidden;
    width: 10000px;
}
#widgets .other .item-other{
    display: inline-block;
    width: 88px;
    padding: 5px;
    transition: all 0.5s;
    border-radius: 3px;
    vertical-align: top;
}
#widgets .other .item-other .io{
    width: 35px;
    height: 35px;
    background: #ccc;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
    border-radius: 100%;
}
#widgets .other .item-other .facebook {background-color: #1161b3;}
#widgets .other .item-other .twitter  {background-color: #3ed2ff;}
#widgets .other .item-other .instagram{background-color: #ff198e;}
#widgets .other .item-other .wikipedia{background-color: #000;}
#widgets .other .item-other .youtube{background-color: #dd2a2a;}
#widgets .other .item-other .amazon{background-color: #f5bb00;}
#widgets .other .item-other .apple{background-color: #a3a3a3;}
#widgets .other .item-other .io i{
    font-size: 18px;
    color: #fff;
}
#widgets .other .item-other:hover{
    background-color: #f1f1f1;
}
#widgets .other .item-other .thumbnail,
#widgets .other .item-other .thumbnail img{
    width: 100%;
    height: 100%;
}
#widgets .other .item-other .thumbnail{
    overflow: hidden;
    display: block;
    border-radius: 3px;
}
#widgets .other .item-other .thumbnail img{
    float: left;
}
#widgets .other .item-other .name{
    padding-top: 10px;
    color: #1d5394;
    font-size: 13px;
    padding-bottom: 5px;
    word-wrap: break-word;
}
#widgets .other .item-other .time{
    color: #999;
    font-size: 12px;
}
#widgets .urls .item-other{
    width: 25%;
}
#widgets .urls{
    text-align: center;
}
#wikipedia{
	background: #f9f9f9;
    border-radius: 3px;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);*/
	border-radius: 3px;
    border-bottom: 1px solid #ededec;
    /*margin-bottom: 10px;*/
}
#wikipedia .data{
	/*padding: 10px 0px;*/
}

#wikipedia .head{

}
#wikipedia .head{
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ededec;
    /*padding-bottom: 10px;*/
}
#wikipedia .head .video{
    overflow: hidden;
}
#wikipedia .head .video iframe{
    float: left;
}
#wikipedia .head .more{
    position: absolute;
    bottom: 1px;
    background: #0000008f;
    right: 2px;
    padding: 8px 8px;
    cursor: pointer;
    color: #fff;
}
#wikipedia .head .item-image,
#wikipedia .head .item-image img{
    float: left;
    overflow: hidden;
}
#wikipedia .head .item-image{
    padding-bottom: 1px;
    padding-right: 1px; 
}
#wikipedia .head h2{
    margin-bottom: 0px;
}
#wikipedia .head h2 a{
	font-size: 26px;
    font-weight: normal;
    color: #444;
}
#wikipedia .head h4{
	font-weight: normal;
    color: #999;
    margin: 0px;
    text-transform: capitalize;
}
#wikipedia .head button,
#wikipedia .data .title button{
	border: 0px;
    background: #ededed;
    color: #000;
    padding: 7px 9px;
    border-radius: 3px;
    margin-top: 7px;
    cursor: pointer;
}
#wikipedia .data .title button{
    background: #ededed;
    color: #3c3c3c;
    cursor: pointer;
}
#wikipedia .data .title h2{
    font-size: 21px;
    font-weight: normal;
    color: #1d5394;
    margin: 0px;

}
#wikipedia .data .title{
    border-bottom: 1px solid #ededec;
}
#wikipedia .data .title h4{
    margin: 0px;
    font-weight: normal;
    text-transform: capitalize;
}
#wikipedia .data .url{
    padding: 12px 0px;
    margin: 5px 0px;
    border-bottom: 1px solid #ededec;
    border-left: 0px;
    border-right: 0px;
    margin-top: 0px;
}
#wikipedia .data .url i{
    font-size: 25px;
    color: #a0a0a0;
    line-height: 24px;
    vertical-align: top;
}
#wikipedia .data .url a{
    vertical-align: top;
    line-height: 25px;
    color: #070;
}
#wikipedia .head .thumbnail{
    overflow: hidden;
    object-fit: cover;
}
#wikipedia .head .thumbnail img{
    float: left;
    max-width: 170px;
    max-height: 200px;
}
#wikipedia .data{
    color: #5e5e5e;
    padding-bottom: 1px;
}
#wikipedia .data .title,
#wikipedia .data .url,
#wikipedia .data .info{
    padding: 10px 15px;
}
#wikipedia .data .rs{
    padding: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededec;
}
#wikipedia .data .rs img{
    width: 15px;
    height: 15px;
    padding: 0 !important;
}
#wikipedia .data .rs .d{

}
#wikipedia .data .rs a{
    color: #1d5394;
}
#wikipedia .data .rs .d{
    display: inline-block;
    margin-right: 20px;
}
#wikipedia .data .rs .d *{
    display: inline-block;
    vertical-align: top;
    padding: 0px 3px;
}
#wikipedia .data p{
	margin-top: 0;
    font-size: 13px;
}
#wikipedia .data ul{
	list-style: none;
    padding: 0;
    margin-bottom: 0px;
}
#wikipedia .data ul li,
#wikipedia .data ul li b{
    font-size: 13px;
}
#wikipedia .data ul li{
    padding: 4px 0px;
}
#wikipedia .data ul li b{
    color: #000;
    font-weight: normal;
}

#result-videos .item-video .thumbnail .play,
#results .result .play{
	position: absolute;
    top: 60%;
    left: 50%;
    z-index: 5;
    font-size: 20px;
    color: #fff;
    background: #c49451bf;
    width: 45px;
    height: 45px;
    line-height: 41px;
    text-align: center;
    border-radius: 100%;
    margin-left: -21px;
    margin-top: -32px;
    transition: all 0.5s;
}

#result-videos .item-video:hover .thumbnail .play,
#results .result .thumbnail:hover .play{
	background: #efa135bf;
}


#images{

}
#images .image{
    display: inline-block;
    margin: -2px;
    overflow: hidden;
    padding: 2px;
}
#images .image .sd{
    overflow: hidden;
    object-fit: cover;
    position: relative;
    height: 100%;
}



#comentaries{
	position: fixed;
    border: 1px solid #e0e0e0;
    background-image: linear-gradient(white, #efefef);
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    padding: 8px 9px;
    right: 15px;
    bottom: 15px;
    border-radius: 3px;
}





footer{
	display: none;
	overflow: hidden;
	width: 100%;
	left: 0px;
	bottom: 0px;
}
footer nav{
	text-align: center;
}
footer nav a{
	display: inline-block;
	color: #8a8a8a;
    padding: 25px 12px;
	font-size: 13px;
	transition: all 0.5s;
}
footer nav a:hover{
	color: #555;
}


#links{	
    width: 330px;
    text-align: center;
    margin: 0 auto;
    border-radius: 35px;
}
#links .webpage{   
    padding: 10px 5px;
    display: inline-block;
    vertical-align: top;
}

#links .webpage .cart{
    /*background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);*/
    border-radius: 3px;
    overflow: hidden;
}
#links .webpage .cart .thumbnail{
	text-align: center;
}
#links .webpage .cart .thumbnail i{
	font-size: 23px;
    color: #d4d4d4;
    transition: all 0.5s;
}
#links .webpage .cart .thumbnail:hover i{
	color: #999;
}
#links .webpage .cart .domain{
	text-align: center;
    color: #d4d4d4;
    display: none;
}


#more{
	line-height: 45px;
    border: 1px solid #ebebeb;
    padding: 0px 17px;
    border-radius: 5px;
    background: #f9f9f9;
    margin-left: 25px;
}
#more span{
    color: #5e5e5e;
}



#searchInput{
    position: relative;
    background: #fff;
}
#searchInput .suggest{
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    background: #fffffff5;
    border: 1px solid #dadada;
    /*margin-left: -1px;*/
    max-height: 232.2px;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
}
#searchInput .suggest .sug:hover{
    background: #f1f1f1;
}
#searchInput .suggest .sug{
    padding: 6px 10px;
    /*font-size: 16px;*/
    color: #3d3d3d;
}
#searchInput .suggest .sug.active{
    background: #f1f1f1;
}
#searchInput .suggest .sug b{
    color: #9e9e9e;
}






#error{
    display: none;
    text-align: center;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    margin-top: -135px;
}
#error img{
    width: 50px;
    opacity: 0.3;
}
#error h4{
    margin: 0px 0px;
    color: #b3b3b3;
}


#graphics{
    display: none;
}
#graphics #result-images{
    display: block;
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
}
#graphics #result-videos{
    background-color: #ffffff;
    padding: 5px; 
    overflow: hidden;
}
#graphics #result-videos .item-video{
    padding: 5px;
    display: inline-block;
    width: 16.66%;
    background-color: #ffffff;
    vertical-align: top;
}
#graphics #result-videos .item{
    /*border: 1px solid #e3e3e3;*/
    background-color: #ffffff;
    overflow: hidden;
    /*border-radius: 3px;*/
    /*box-shadow: 0 2px 3px rgba(0,0,0,0.06);*/
}
#graphics #result-videos .item .thumbnail{
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 3px;
}
#graphics #result-videos .item .thumbnail img{
        float: left;
    width: 100%;
    height: 100%;
    margin: -24px 0;
}
#graphics #result-videos .item .thumbnail .time{
    position: absolute;
    background: #00000096;
    color: #fff;
    font-size: 12px;
    padding: 3px;
    bottom: 0px;
    right: 0px;
}
#graphics #result-videos .item .wrapper{
    padding: 10px 8px;
    padding-bottom: 0px;
    overflow: hidden;
}
#graphics #result-videos .item .wrapper .title{
    color: #3a3a3a;
    margin-top: 5px;
    font-size: 13px;
    overflow: hidden;
}
#graphics #result-videos .item .wrapper .author,
#graphics #result-videos .item .wrapper .views{
    font-size: 12px;
    float: left;
    width: 50%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#graphics #result-videos .item .wrapper .author{    
    color: #6d6d6d;
}
#graphics #result-videos .item .wrapper .views{
    text-align: right;
        color: #070;
}

.photo-container{
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.photo-container{

}
.photo-container .plus{
    position: absolute;
    background-color: #00000059;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 100%;
    text-align: center;
}

.photo-container .plus .icon,
.photo-container .plus .size{
    position: absolute;
    top: 50%;
    width: 100%;
}
.photo-container .plus .icon{
    margin-top: -25px;
}
.photo-container .plus .icon i{
    font-size: 30px !important;
}
.photo-container .plus .size{
    margin-top: 10px;
    font-size: 12px;
}
#result-images-example{
}




#background-black{
    position: absolute;
    background-color: #000000ad;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: 80px;
}
#show-photo{
    display: block;
    background-color: #2a2a2a;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    height: 100%;
    box-shadow: 0px 5px 25px 5px #0000006b;
}
#background-black .close{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    background: transparent;
    z-index: 99;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid #fff;
    transition: all 0.5s;
}
#background-black .close:hover{
    background: #0000004f;
}
#background-black .close i{
    color: #ffffff;
    font-size: 22px;
}
#show-photo .image{
    height: 100%;
    /*min-width: 490px;*/
    text-align: center;
    position: relative;
}
#show-photo .image img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#show-photo .details{
    background-color: #ffffff;
    width: 350px;
    padding: 0px;
    position: relative;
    height: 100%;
}
#show-photo .text-related{
    /*margin-top: 10px;*/
}
#show-photo .text-related a{
    padding: 6px;
    border-radius: 3px;
    background-color: #f3f3f3;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #444;
}
#show-photo .image .download{
    background-color: #e45828;
    color: #fff;    
    width: 250px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bolder;
    position: absolute;
    z-index: 999;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0px 2px 10px 3px #00000057;
}
#show-photo .image .download .second{
    margin-left: 20px;
}
#show-photo .image .download select{
    border: 0;
    background: #c8461a;
    color: #fff;
    padding: 5px 10px;
    margin: -5px;
    border-radius: 3px;
    text-align: center;
}
#show-photo .image .domain{
    color: #b3b3b3;
    /*font-weight: bolder;*/
}
#show-photo .image .title{    
    font-size: 17px;
    color: #d2d2d2;
    padding-bottom: 0px !important;
}
#show-photo .image .tl{
    z-index: 9;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: left;
    background-image: linear-gradient(#222, transparent);
    padding-bottom: 25px;
}
#show-photo .image .title,
#show-photo .image .domain,
#show-photo .details .text-related{
    padding: 10px 20px;
}
#show-photo .details .text-related{
    padding-bottom: 0;
}
#show-photo .image .domain{
    padding-top: 0;
    padding-bottom: 10px;    
    font-weight: bolder;
}
#show-photo .details .related{
    padding: 10px;
    padding-right: 0;
    overflow-y: scroll;
}
#show-photo .details .related .photo-container{
    border-radius: 3px; 
}
#img-related{    
    padding: 1px;
}
#img-related h2{
    margin-top: 0;
    font-weight: normal;
    color: #717171;
}


.scrollbar::-webkit-scrollbar {
    width: 0.6em;
}
 
.scrollbar::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}
 
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid slategrey;
}